.picture{
    width:30vw;
    height: auto;
}
.container{
    display: flex;
    justify-content: center;
    margin-bottom: -20vh;
}
.title{
    width:20vw;
    font-size: 2vw;
    margin-top:12vh;
    color:black
}
.back{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

