<div class="contacts-page">
  <div class="contacts-container">
    <div class="telephone-container">
      <h3 class="title">Телефон</h3>
      <div class="content">+375 (29) 121-49-09</div>
    </div>
    <div class="email-container">
      <h3 class="title">Email</h3>
      <ul class="content">
        <li class="dep1">Конструкторско-технологический департамент:</li>
        <li class="dep1desc">baz.ltd.sks.ltd&#64;gmail.com</li>
        <li class="dep2">Отдел продаж:</li>
        <li class="dep2desc">sales.hydrox&#64;gmail.com</li>
      </ul>
    </div>
    <div class="work-hours-container">
      <h3 class="title">График работы</h3>
      <div class="content">Пн-Пт: 8:00-17:00, Сб-Вс: выходной</div>
    </div>
    <div class="adress-container">
      <h3 class="title">Адрес</h3>
      <div class="content">
        222161, Республика Беларусь, Минская область, г. Жодино, ул.
        Сухогрядская, д. 5Б, пом. 15
      </div>
    </div>
  </div>
  <app-map-component></app-map-component>
</div>
