<div class="advantages-container">
<span class="advantages">Наши преимущества</span>
</div>
<div class="icons">
    <div class="icon">
        <img src="../../assets/icons/Smart-optimizationn.png" alt="Icon 1" class="icon-img">
    </div>
    <div class="icon">
        <img src="../../assets/icons/Tool.png" alt="Icon 2" class="icon-img">
    </div>
    <div class="icon">
        <img src="../../assets/icons/Computer.png" alt="Icon 3" class="icon-img">
    </div>
</div>
<ul class="captions">
    <li class="caption">cобственное высокотехнологичное производство</li>
    <li class="caption">свой конструкторский отдел</li>
    <li class="caption">применение современных IT-технологий</li>
</ul>
<div class="usage">
<div class="production">Наша продукция используется в мобильной, индустриальной гидравлике и применима в производстве:</div>
</div>
<div class="text-container">
    <span class="word">комбайнов</span>
    <span class="word">тракторов</span>
    <span class="word">автокранов</span>
    <span class="word">экскаваторов</span>
    <span class="word">погрузчиков</span>
    <span class="word">катков</span>
    <span class="word">и прочей техники</span>
</div>