
h1{ 
    width: 1000%;
    font-size: 2.8vw;
    font-weight: bold;
}
h2{
    width: 800%;
    font-size:1.3vw ;
    font-weight: 100;
    margin-top: 8vh;
    color:black;
}
.text1.no{
    display: none;
}
.text1{
    display: flex;
}
.text2.no{
    display: none;
}
.text2{
    display: block;
}
.background2, .background21{
    position: absolute;
    left:0;
    top:33vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center; 
    height: 300vh;
    width:100%;
}
.background2{
    z-index: -101;
}

.background21{
    z-index: -102;
}