<img [@logoAnimation]="getRouteAnimationData()" [ngSrc]="logoSrc" width="900" height="244.27" alt="" class="logo" priority>
<h1  class="text1">ООО «Завод КБ Гидравлика» — Изготовление гидромашин</h1>
<div class="back-cont">
<div class="background2" [@fade]="getBackAnimation()">
    <img ngSrc="../../assets/back/back_d.png" fill alt="" priority >
</div> 
<div class="background21">
    <img ngSrc="../../assets/back/back_w.png" fill alt="" priority >
</div> 
</div>
<h2 class="text2">ООО «Завод КБ Гидравлика» входит в состав «Группы компаний БАЗ», которая уже более 20 лет обеспечивает предприятия РБ и РФ продукцией технического назначения, и за это время зарекомендовала себя как надёжный поставщик и партнёр</h2>