

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    width: 100%;

}
.active{
    color: #bf0404 !important;
}

a{
    text-decoration: none;
}
app-root {
    --text-color: black;
    --bkg-color: white;
  }
app-root.black {
    --text-color: white;
    --bkg-color: black;
}
app-root{
    background-color: var(--bkg-color);
    color: var(--text-color);
}
