<h2 class="cooperation">О сотрудничестве</h2>
<div class="usage">
<div class="about">“Завод КБ Гидравлика” предлагает сотрудничество компаниям заинтересованным в приобретении выпускаемой и поставляемой нами продукции:</div>
</div>
<div class="text-container">
    <span class="word">гидромоторы</span>
    <span class="word">гидронасосы</span>
    <span class="word">мотор-колесо</span>
    <span class="word">редуктора</span>
    <span class="word">расапределители</span>
    <span class="word">запасные части</span>
</div>