h2{
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 1.8vw;
}
.about{
    font-size: 1.6vw;
    width: 40%;
    line-height: 4.5vh;
}
.usage{
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 7vh;
}
.text-container2 {
    align-items: center;
    position: relative;
    font-size: 2vh;
    justify-self: space-around;
    padding: 0 10px; /* Space between lines and text */
    margin-bottom:11vh;

}
.text-container2{
    --v-back-color:white;
}
.text-container2.black{
    --v-back-color:black;
}
.text-container2::before,
.text-container2::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 13vw; /* Length of the line */
    height: 1px; /* Thickness of the line */
    background-color:  var(--v-back-color) ;/* Color of the line */
    transform: translateY(-50%);
}
.text-container2::before {
    left: 0;
}
.text-container2::after {
    right: 0;
}
.word {
    margin-right: 10px; 
}
.word:first-child{
    margin-left:13.5vw
}
.word:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 100px; 
    height: 1px; 
    background-color: var(--v-back-color); 
    margin-left: 9px; 
    vertical-align: middle;
}